* {
  text-align: center;
}

#background {
  background-color: #ccf;
}

#h {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#img {
  display: block;
  width: 100%;
}

.p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #383894;
}

.t {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: #383894;
}

.image {
  width: 200px;
  border: 15px double #e6e6ff;
  padding: 20px;
  margin: 5px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 310px;
  border: 5px outset #fff;
  padding: 25px;
  margin: 10px;
  background-color: #e6e6ff;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 600px;
  border: 15px solid #fff;
  padding: 25px;
  margin: 10px;
  background-color: #e6e6ff;
  margin-left: auto;
  margin-right: auto;
}
